<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="Grid Vertical Alignment1.css">
</head>
<body>
    <div class="container">
        <div class="row align-items-start">
            <div class="col bg-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ea rerum odit laborum consequatur sit voluptate, sed magnam placeat corporis ipsum voluptatum dolorum magni. Eveniet nobis vitae temporibus commodi maiores.
                            Natus veritatis autem ipsum veniam itaque. Enim harum obcaecati laborum numquam voluptas, dolore aut officia molestias aliquid blanditiis laudantium, suscipit modi neque quo cumque id quis quod nobis? 
            </div>
            <div class="col bg-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ea rerum odit laborum consequatur sit voluptate, sed magnam placeat corporis ipsum voluptatum dolorum magni. Eveniet nobis vitae temporibus commodi maiores.
                            Natus veritatis autem ipsum veniam itaque. Enim harum obcaecati laborum numquam voluptas, dolore aut officia molestias aliquid blanditiis laudantium, suscipit modi neque quo cumque id quis quod nobis? Inventore, error.
                            Cupiditate officia perferendis dolores eveniet repellendus, quidem omnis suscipit labore consequuntur earum magni fuga minus corporis odio aut ut maxime est minima in praesentium cum, reprehenderit odit at. Perspiciatis, obcaecati?
            </div>
            <div class="col bg-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ea rerum odit laborum consequatur sit voluptate, sed magnam placeat corporis ipsum voluptatum dolorum magni. Eveniet nobis vitae temporibus commodi maiores.
                            Natus veritatis autem ipsum veniam itaque. Enim harum obcaecati laborum numquam voluptas, dolore aut officia molestias aliquid blanditiis laudantium, suscipit modi neque quo cumque id quis quod nobis? Inventore, error.?
            </div>
            <div class="col bg-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ea rerum odit laborum consequatur sit voluptate, sed magnam placeat corporis ipsum voluptatum dolorum magni. Inventore, error.
                            Cupiditate officia perferendis dolores eveniet repellendus, quidem omnis suscipit labore consequuntur earum magni fuga minus corporis odio aut ut maxime est minima in praesentium cum, reprehenderit odit at. Perspiciatis, obcaecati?
            </div>
        </div>
    </div>
</body>
</html>